<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <rate_limiting>
            <general>
                <enabled>1</enabled>
                <requests_per_minute>100</requests_per_minute>
            </general>
        </rate_limiting>
    </default>
</config>
